/*Containers*/
.upper_container {
  width:960px;
  margin:0 auto 0 auto;
  background-image:url('back.png');
  background-size:100% auto;
  background-repeat:none;
  height:400px;
}
.mid_container {
  width:100%;
  height:40px;
  opacity:0.8;
}
.sticky {
  position:fixed;
  top:0;
  left:0;
}
.lower_container {
  width:960px;
  height:400px;
  margin:0 auto 0 auto;
}
.sticky2 {
  margin-top:41px;
}
span {
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:2;
}
body {
  font-family:Georgia, Arial;
}
/*Header*/
header {
  width:960px;
  position:relative;
  z-index:10;
  background:#4e4e4e;
  margin:0 auto 0 auto;
  font-family:"Helvetica Neue", Helvetica, Arial;
  text-transform:uppercase;
  font-size:12;
  height:40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sticky {
  position:fixed;
  top:0px;
  left:0;
}
a {
  text-decoration:none;
  color:#e5e5e5;
}
a:hover {
  color:#ccc;
}
.dropdown-menu {
  margin-top:0px;
  padding:0 0 0 0;
  border:0;
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
header .dropdown {
  display:inline-block;
}
.header-btn {
  font-weight:300;
  color:#fff;
  height:26px;
  margin:0;
  text-align:center;
  padding-top:10px;
  width:32px;
  border:0px;
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  background:#4e4e4e;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  text-shadow:none;
}
.header-btn:focus {
  outline:none;
  background:#222;
  color:#fff;
}
nav {
  width:390px;
  display:inline-block;
  vertical-align:top;
  font-weight:400;
  font-size:13px;
  line-height:15px;
  padding:0;
}

nav ul li {
  list-style:none;
  padding:3px 10px 0px 10px;
}
nav ul li:hover, nav ul li.hover {
  background:#4e4e4e;
  color:#fff;
}
nav .dropdown-menu {
  background:#222;
  padding:0;
}
nav .header-btn:hover {
  background:#888;
}
nav .header-btn:focus, nav .dropdown-menu {
  background:#888;
}
nav .add {
  height:25px;
  width:25px;
  margin-top:8px;
  margin-left:8px;
  background-image:url('images/tshirt.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: bottom;
  display:inline-block;
  vertical-align:top;
}
nav .add:hover{
  background-position:top;
}
.trademark .header-btn {
  width:92px;
}
.brands .header-btn {
  width:52px;
}
#search_bar {
  display:inline-block;
  width:320px;
  height:30px;
  margin-top:5px;
  vertical-align:top;
}
#search_bar img {
  height:18px;
  width:18px;
  margin-top:6px;
  display:inline-block;
  vertical-align:top;
}
#search_bar form {
  display:inline-block;
  vertical-align:top;
  margin:4px 0 0 4px;
}
#search_bar form input {
  height:23px;
  width:295px;
  background:#333;
  border:1px solid #111;
  color:#fff;
  padding:0 0 0 4px;
}
#search_bar input:focus {
  outline:none;
  border:none;
}

#menu {
  float:right;
  width:240px;
  vertical-align:top;
  height:40px;
}
.lang {
  line-height:40px;
  color:white;
  padding: 0 5px 0 5px;
}
#menu .item {
  float:right;
}
#menu .dropdown-menu {
  background:#222;
  color:#fff;
  text-align:right;
  position:absolute;
  top:100%;
  left:-100px;
  width:100px;
}
#menu ul li {
  list-style:none;
  padding:3px 10px 3px 10px;
}
#menu li:hover, #menu li.hover {
  background:#4e4e4e;
}
#menu a.shopping-cart {
  height:40px;
  width:30px;
  position:relative;
  background-image:url('images/cart.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: 0px -55px;
}
#menu a.shopping-cart span {
  width:30px;
  height:30px;
}
#menu li.shopping-cart:hover {
  background-position:top;
  background-repeat:no-repeat;
}
#menu li.notifications {
  background-image:url('images/world_white.png');
  background-size:22px;
  background-repeat:no-repeat;
  background-position:4px 10px;
}
#menu li.notifications:hover, #menu li.notifications.hover {
  background-image:url('images/world_white.png');
}
.notifier {
  position:absolute;
  top:3px;
  right:0;
  z-index:11;
  background:#00D4FF;
  padding:1px;
  line-height:12px;
  color:#003366;
  font-weight:900;
  font-size:11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border:2px solid #024b94;
}
/* Main Layouts */
.picture {
  margin:10px;
  width:320px;
  position:relative;
  z-index:0;
}
.picture-menu {
  position:absolute;
  width:150px;
  height:100px;
  top:100px;
  left:100px;
  z-index:1;
  display:none;
}
.picture-menu ul li {
  list-style:none;
  width:80px;
  height:20px;
  padding:5px;
  background:red;
  margin-bottom:2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border:2px solid orange;
  opacity:0.8;
}
.picture-menu ul li:hover {
  opacity:1;
}
.picture:hover .picture-menu, .picture.hover .picture-menu {
  display:block;
}
.picture img {
  max-width:320px;
  max-height:320px;
}
/* Dropdown Menus */
.dropdowns {
  width:960px;
  position:absolute;
  bottom:0px;
  left:0;
  z-index:10;
}
.