/*Containers*/
.upper_container {
  width:960px;
  margin:0 auto 0 auto;
  background-image:url('back.png');
  background-size:100% auto;
  background-repeat:none;
  height:400px;
}
.mid_container {
  width:100%;
  height:40px;
  opacity:0.8;
}
.sticky {
  position:fixed;
  top:0;
  left:0;
}
.lower_container {
  width:960px;
  height:400px;
  margin:0 auto 0 auto;
}
.sticky2 {
  margin-top:41px;
}
span {
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:2;
}
body {
  font-family:Georgia, Arial;
}
/*Header*/
header {
  width:960px;
  position:relative;
  z-index:10;
  background:#4e4e4e;
  margin:0 auto 0 auto;
  font-family:"Helvetica Neue", Helvetica, Arial;
  text-transform:uppercase;
  font-size:12;
  height:41px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sticky {
  position:fixed;
  top:0px;
  left:0;
}
a {
  text-decoration:none;
  color:#e5e5e5;
}
a:hover {
  color:#ccc;
}
nav {
  width:320px;
  display:inline-block;
  vertical-align:top;
  font-weight:400;
  font-size:13px;
  line-height:15px;
  padding:0;
}
nav ul {
  height:41px;
  margin-top:0px;
}
nav ul li {
  list-style:none;
  display:inline-block;
  padding:13px 10px 13px 10px;
  position:relative;
  width:20px;
  height:15px;
  text-align:center;
}
nav ul li.wide {
  width:74px;
}
nav ul li.medium {
  width:50px;
}
nav ul li span {
  line-height:42px;
}
nav ul li:hover, nav ul li.hover {
  background:#888;
}
nav .add {
  height:25px;
  width:25px;
  margin-top:8px;
  margin-left:8px;
  background-image:url('images/tshirt.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: bottom;
  display:inline-block;
  vertical-align:top;
}
nav .add:hover{
  background-position:top;
}
#search_bar {
  display:inline-block;
  width:320px;
  height:30px;
  margin-left:45px;
  margin-top:5px;
  vertical-align:top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#search_bar img {
  height:18px;
  width:18px;
  margin-top:6px;
  display:inline-block;
  vertical-align:top;
}
#search_bar form {
  display:inline-block;
  vertical-align:top;
  margin:4px 0 0 4px;
}
#search_bar form input {
  height:23px;
  width:240px;
  background:#333;
  border:1px solid #111;
  color:#fff;
  padding:0 0 0 4px;
}
#search_bar input:focus {
  outline:none;
}
#menu {
  float:right;
  width:182px;
  margin-left:65px;
  vertical-align:top;
  padding-top:1px;
  height:40px;
}
#menu ul li {
  height:100%;
  list-style:none;
  float:right;
  position:relative;
  margin-top:-12px;
  line-height:38px;
  width:30px;
}
#menu li:hover.no-hover {
  background:none;
}
#menu li:hover, #menu li.hover {
  background:#222;
}
#menu li.shopping-cart {
  background-image:url('images/cart.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: bottom;
}
#menu li.shopping-cart:hover {
  background-position:top;
  background-repeat:no-repeat;
}

.circle {
  margin-top:-3px;
  background-image:url('images/circle2.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  height:23px;
  width:23px;
  text-align:center;
  padding-top:4px;
  font-size:11px;
  font-weight:600;
}
/* Main Layouts */
.picture {
  margin:10px;
  width:320px;
  position:relative;
  z-index:0;
}
.picture-menu {
  position:absolute;
  width:150px;
  height:100px;
  top:100px;
  left:100px;
  z-index:1;
  display:none;
}
.picture-menu ul li {
  list-style:none;
  width:80px;
  height:20px;
  padding:5px;
  background:red;
  margin-bottom:2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border:2px solid orange;
  opacity:0.8;
}
.picture-menu ul li:hover {
  opacity:1;
}
.picture:hover .picture-menu, .picture.hover .picture-menu {
  display:block;
}
.picture img {
  max-width:320px;
  max-height:320px;
}
/* Dropdown Menus */
.dropdowns {
  width:960px;
  position:absolute;
  bottom:0px;
  left:0;
  z-index:10;
  background:red;
}
.dropdowns ul li {
  list-style:none;
  position:relative;
  width:95%;
  height:22px;
  padding-left:5%;
  line-height:25px;
}
.dropdowns ul {
  padding:0;
  margin:0;
}
.dropdowns ul li:hover {
  background:#444;
}
.notifications_dropdown {
  position:absolute;
  right:0;
  top:0;
  width:200px;
  background:#222;
  display:none;
}
.cart_dropdown {
  position:absolute;
  right:29px;
  top:0;
  width:200px;
  background:#222;
  display:none;
}
.brands_dropdown {
  position:absolute;
  left:138px;
  top:0;
  width:200px;
  background:#888;
  display:none;
}
.trademark_dropdown {
  position:absolute;
  left:40px;
  top:0;
  width:200px;
  background:#888;
  display:none;
}
.me_dropdown {
  position:absolute;
  left:212px;
  top:0;
  width:200px;
  background:#888;
  display:none;
}